@model DAL.Models.Book

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentOwner.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre.GenreName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryGenre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryGenre.GenreName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TertiaryGenre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TertiaryGenre.GenreName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language.LanguageCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookCoverage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookCoverage.CoverageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bookhouse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bookhouse.BookhouseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City.CityCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.AuthorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Translator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Translator.AuthorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Translation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Translation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
